html,
body {
  margin: 0;
  color: white;
}

h1,
h2,
h3 {
  color: white;
}

.top-level-with-workspace {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.top-level-with-workspace .main-pane {
  position: relative;
  display: flex;
  height: 100%;
}

.workspace {
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%;
}

.left {
  width: 350px;
  overflow-y: scroll;
  background-color: rgb(54 57 63);
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  flex: 0 0 350px;
}

.right {
  flex: 1;
  background-color: rgb(54 57 63);
  position: relative;
}

.top-level-with-workspace .status-bar {
  height: max-content;
  background-color: rgb(40 40 40);
  display: flex;
  align-items: center;
  padding-left: 1em;
  padding-right: 1em;
}

/*
* Asset Selector
*/

.asset-selector .ant-tree-node-content-wrapper.ant-tree-node-selected {
  background-color: rgb(34 37 33);
}

.asset-selector .ant-tree-node-content-wrapper:hover {
  opacity: 0.8;
  background-color: rgb(24 27 23);
}

.asset-selector .ant-tree {
  background: transparent;
  color: white;
}

/* The following settings ensure the and design tree expand/collapse
   icon is centered correctly. Not sure why this had to be done
   explicitly.
*/
.asset-selector .ant-tree .ant-tree-switcher {
  align-self: auto;
}

.asset-selector .ant-tree .ant-tree-treenode {
  align-items: center;
}

.top-nav {
  left: 20px;
  top: 20px;
  display: flex;
  position: absolute;
  z-index: 2;
  width: 40vw;
  height: 100px;
}

.status {
  width: 100%;
}

div.editor-content {
  position: absolute;
  background-color: rgb(50 53 58);
  color: white;
  text-align: center;
  width: 100%;
  height: 100%;
}

div.error {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 0.9em;
  font-size: large;
  padding: 2em;
}

div.editor-content .reload-button {
  position: absolute;
  right: 20px;
  top: 20px;
}

div.panes {
  display: flex;
  overflow-y: hidden;
  position: absolute;
  height: 100%;
  width: 100%;
}

div.texture-pane {
  background-color: rgb(50 53 58);
  padding-top: 32px;
  overflow-y: scroll;
  flex: 0 0 250px;
}

div.texture-pane div.material-name {
  margin-top: 32px;
}

div.texture-pane img {
  width: 128px;
  height: 128px;
  margin: 32px;
  image-rendering: pixelated;
  box-shadow: 0 0 20px rgb(27 28 33);
  cursor: pointer;
}

div.texture-pane .ant-input-group {
  padding: 5px;
}

div.preview-pane {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

div.preview-pane div.preview-options {
  flex: 0 0 150px;
}

div.preview-options .ant-radio-button-wrapper {
  padding: 0 50px;
  line-height: 32px;
  text-transform: uppercase;
}

div.preview-options .ant-radio-button-wrapper-checked {
  box-shadow: 0 0 1px 1px rgb(90 120 255);
}

.scene {
  flex-grow: 1;
  overflow: hidden;
}

.scene canvas {
  width: 100%;
  height: 100%;
}

div.ui-overlay {
  color: white;
  text-align: left;
  border-radius: 25px;
  background-color: rgb(0 0 0 / 50%);
  padding: 30px;
}

div.scene div.options {
  position: absolute;
  left: 50px;
  top: 80px;
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}

div.scene div.options span.label {
  margin-right: 1em;
}

div.character div.character-options {
  position: absolute;
  right: 50px;
  top: 80px;
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}

div.character-options .ant-select {
  min-width: 15em;
}

div.animations-list .ant-select {
  min-width: 12em;
}

div.scene .ant-checkbox-wrapper {
  color: white;
}

.panes button.ant-btn {
  text-transform: uppercase;
  height: 36px;
  width: 180px;
  margin: 4px 0;
  padding: 0 40px;
  color: black;
  background-clip: padding-box;
  text-align: center;
  cursor: pointer;
}

/*
 *  Status bar
 */

.status-bar .workspace-folder {
  padding: 0.2em 0.5em;
  margin: 0.3em;
  cursor: pointer;
}

.status-bar .workspace-folder:hover {
  border-radius: 0.3em;
  background-color: rgb(24 27 23);
}

/*
 *  Select Workspace
 */

.select-workspace {
  position: absolute;
  background-color: rgb(54 57 63);
  width: 100%;
  height: 100%;
}

.select-workspace .select-workspace-content {
  display: flex;
  flex-direction: column;
  gap: 3em;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.select-workspace .instructions {
  font-size: 16px;
  width: 30em;
}
