.page-frame {
  display: flex;
  flex-direction: column;
}

.page-frame-header {
  flex: 0 1 auto;
}

.page-frame-content {
  flex: 1 0 auto;
  display: flex;
  border: 2px solid rgb(0 0 0 / 30%);
  border-radius: 10px;
  height: 100%;
  overflow-y: hidden;
  height: calc(100vh - 200px);
}

.page-frame-footer {
  flex: 0 0 40px;
  height: 40px;
}

.page-frame-content > .menu-list {
  border-right: 2px solid rgb(0 0 0 / 30%);
}

.menu-list {
  flex: 1 0 auto;
  padding: 0.75vh 10px;
  overflow: auto;
  height: 100%;
  overflow-y: auto;
}

.menu-list li.selected {
  background-color: var(--button-bg);
  border-radius: 10px;
}

.menu-list li {
  display: flex;
  padding: 2vh;
  align-items: center;
}

.menu-list li:hover {
  background-color: var(--cell-bg-dark);
}

.menu-list label {
  margin: 0 0.75vh;
  font-size: var(--font-size-large);
}

.menu-list .icon-frame {
  padding: 0.35vh;
  border-radius: 6px;
  background-color: rgb(0 0 0 / 30%);
  border: 1px solid rgb(255 255 255 / 20%);
}

.menu-list .icon {
  width: 64px;
  height: 64px;
}

.editor-panel {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  gap: 0.5rem;
}

.page-frame-content a {
  color: rgb(190 190 255);
}

.records-editor {
  height: 100%;
}

.side-menu-records-editor {
  display: flex;
  width: 100%;
  min-height: 0;
}

.side-menu-record-editor {
  width: 100%;
  padding: 1rem;
  overflow-y: auto;
}

.top-menu {
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
  padding: 1rem;
  border-bottom: 1px solid black;
}

.save-status {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: x-large;
  padding: 10rem;
  gap: 2rem;
}

.save-status > * {
  text-align: center;
}

.duplicate-button {
  flex: 0 0 2rem;
  padding-right: 0.4rem;
}

.create-prompt {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.create-prompt .id-prompt {
  display: flex;
  gap: 1rem;
}

.create-prompt .button-row {
  display: flex;
  gap: 1rem;
}

.parse-error {
  color: red;
}

.sound-effect {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.sound-effect button {
  flex-grow: 0;
  width: auto !important;
  padding: 0 1rem;
  color: red;
}

.global-params-editor {
  overflow-y: auto;
}
