BasedOnStyle: Google
AlignAfterOpenBracket: AlwaysBreak
AllowShortFunctionsOnASingleLine: Empty
AllowShortLambdasOnASingleLine: Empty
BinPackArguments: false
BinPackParameters: false
ColumnLimit: 80
PointerAlignment: Left
DerivePointerAlignment: false
