name: Deploy docs to GitHub Pages

on:
  push:
    branches:
      - main

jobs:
  deploy:
    name: Deploy docs to GitHub Pages
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          lfs: true
      - uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: yarn

      - name: Install project dependencies
        run: yarn install --frozen-lockfile
      - name: Install docs dependencies
        working-directory: ./docs
        run: yarn install --frozen-lockfile
      - name: Build website
        working-directory: ./docs
        run: yarn build

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          # Contents of "build" are published to the `gh-pages` branch.
          publish_dir: ./docs/build
          # Assign commit authorship to the official GH-Actions bot.
          user_name: github-actions[bot]
          user_email: 41898282+github-actions[bot]@users.noreply.github.com
          cname: docs.biomes.gg
